.title{
    text-align: center;
    font-size: 50px;
}

*{
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header{
    background-color: #002B5B;
    color: #F9F5EB;
}

li > a{
    color: #E4DCCF;
}

header:not(.title), main{
    padding: 50px;
}

.nav-list > li{
    margin: 10px 0;
}

.section{
    padding-bottom: 30px;
    border-bottom: solid 2.5px black;
}

p{
    max-width: 900px;
}

.bold{
    font-weight: bold;
}